.container-sm h2 {
    display: flex;
    align-items: center;
}
  
.container-sm h2 mat-icon {
    margin-right: 8px;
}
.price{
    font-weight: 800;
    font-size: 1.1rem;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 8rem;
    height: 3rem;
}

.btn-right {
    display: block;
    margin: 0 0 0 auto;
}