img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

mat-card {
    transition: all 0.2s ease-in-out;
}